<%- include('partials/header') %>
        <div class="container">
            <form class="add-multa-form" action="" method="post" enctype="application/x-www-form-urlencoded">
                <% if (gestores.length > 0) { %>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <select name="gestor" id="gestor" class="form-control" required>
                                <option selected disabled>Selecione gestor</option>
                                <% gestores.forEach(registro => { %>
                                    <option><%= registro.nome %></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                <% } %>
                <% if (motivos.length > 0) { %>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <select name="motivo" id="motivo" class="form-control" required>
                                <option selected disabled>Selecione o motivo</option>
                                <% motivos.forEach(registro => { %>
                                    <option><%= registro.causa %></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                <% } %>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control" name="valor" id="valor" placeholder="Valor da multa" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control" name="parcelas" id="parcelas" placeholder="Quantidade de parcelas" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-success float-left">Adicionar multa</button>
            </form>
        </div>
    </div>
</body>
</html>