<%- include('partials/header') %>
        <div class="container">
            <% if (gestor) { %>
            <form class="add-gestor-form" action="" method="post" enctype="application/x-www-form-urlencoded">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" name="nome" id="nome" value="<%= gestor.nome %>" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" name="cpf" id="cpf" value="<%= gestor.cpf %>" required>
                    </div>
                </div>
                <% if (orgaos.length > 0) { %>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <select name="orgao" id="orgao" class="form-control" required>
                            <option selected disabled>Selecione órgão</option>
                            <% orgaos.forEach((registro, indice) => { %>
                                <option><%= registro.nome %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
                <% } %>
                <button type="submit" class="btn btn-success float-left">Adicionar Gestor</button>
            </form>
            <% } else { %>
                <p class="text-center">Gestor não encontrado</p>
            <% } %>
        </div>
    </div>
</body>
</html>